<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="JanuarySeasonality" value="1.0" />
    <add key="FebruarySeasonality" value="1.0" />
    <add key="MarchSeasonality" value="1.15" />
    <add key="AprilSeasonality" value="1.26" />
    <add key="MaySeasonality" value="1.26" />
    <add key="JuneSeasonality" value="1.26" />
    <add key="JulySeasonality" value="1.26" />
    <add key="AugustSeasonality" value="1.26" />
    <add key="SeptemberSeasonality" value="1.1385" />
    <add key="OctoberSeasonality" value="1.1385" />
    <add key="NovemberSeasonality" value="1.1385" />
    <add key="DecemberSeasonality" value="1.02465" />
    <add key="InputFiles" value="C:\Users\wildbillcat\Downloads\FCP" />
  </appSettings>
</configuration>