<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="NumberMonths" value="3" />
      <add key="MonthOverMonthSeasonality" value="True" />
      <add key="JanuarySeasonality" value="1.0" />
      <add key="FebruarySeasonality" value="1.06" />
      <add key="MarchSeasonality" value="1.2" />
      <add key="AprilSeasonality" value="1.04" />
      <add key="MaySeasonality" value="1.02" />
      <add key="JuneSeasonality" value="1.01" />
      <add key="JulySeasonality" value="1.0" />
      <add key="AugustSeasonality" value="0.93" />
      <add key="SeptemberSeasonality" value="1.01" />
      <add key="OctoberSeasonality" value="0.98" />
      <add key="NovemberSeasonality" value="0.90" />
      <add key="DecemberSeasonality" value="1.13" />
      <add key="InputFiles" value=".\FCP" />
      <add key="OutputFile" value=".\Prediction.csv" />
    </appSettings>
</configuration>